
.container-fluid {
margin: 1rem 1rem;
}

.col-sm-4 {
    height: 6rem;
   
}
.nav-menu {
    height:6rem;
    
}

.col-sm-12 {
        height: 2rem;
}
h1 {
    font-style: italic;
    color: rgb(0,51,153);
}

.card-deck {
    margin: 1rem  1rem;
}
.card-header  {
    background-image: linear-gradient(to right, rgb(0, 230, 230), rgb(0, 51, 153));
    height: 4rem;
}
.card-body { 
    align-content: center;
    padding: 2rem;

}
