 
.col-sm-6 {
    background-color: pink;
   
    
}
.col-sm-5 {
    background-color: aqua;
    height: 16rem;


}
.col-sm-4 {
    background-color: rgb(231, 211, 211);
    height: 6rem;
   
}
.btn-group {
    align-content: right;
}